$bg-color: #000000;
$title-color: #14213D;
$h2-color: #14213D;
$text-color: #14213D;

@import "generic/reset";
@import "layout/general";
@import "layout/movies";
@import "layout/movieCard";
@import "layout/searchForm";
@import "layout/fullMovie";